.icon{
    background-color: #006DAA;
    border-radius: 30%;
  
}
/*
.agregar{
    margin-left: 10px;
    background-color: gray;
    text-decoration: none; 
    border-radius: 30% solid gray; 
    color: #000000; 
    transition: color 0.3s;
}

.agregar:hover{
    text-decoration: none;
    color: #ffffff6b;
}
*/
.carritoA{
    margin-top: 0px;
    margin-left: 200px;
    width: 33px;
    height: 33px;
    transition: transform 0.5s;
}

.carritoA:hover{
    transform: scale(1.3);
}

.tituloJ{
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.precio{
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.carrito-container {
    position: relative;
    display: inline-block;
    margin-right: 0px;
}

#contador-value {
    position: absolute;
    top: -5px; /* Ajusta la posición vertical según tus necesidades */
    right: -5px; /* Ajusta la posición horizontal según tus necesidades */
    background-color: red;
    color: white;
    border-radius: 50%; /* Hace que el fondo sea circular */
    padding: 1px 1px; /* Espaciado del fondo */
    font-size: 14px; /* Tamaño de la fuente del número */
    font-weight: bold; /* Texto en negrita */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: transform 0.2s ease-in-out; /* Transición suave al cambiar la transformación */

    &:hover {
        transform: scale(1.1); /* Escala el número cuando el cursor está encima */
    }
}
ul.em_alta {
    list-style: none; /* Quita las viñetas a la lista */
}

/* Estilo para los elementos de la lista si es necesario */
ul.em_alta li {
    /* Estilos específicos para los elementos de la lista si es necesario */
}